<launch>
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joypad_controller" >
        <param name="dev" type="string" value="/dev/input/js1" /> <!-- change jsX if needed -->
        <param name="deadzone" value="0.0" />
    </node>
    <!-- subscriber nodes -->
    <node pkg="direct_controller_teleop_viking3" name="wheels" type="wheels.py" output="screen"></node>
    <node pkg="direct_controller_teleop_viking3" name="power" type="power.py" output="screen"></node>
    <node pkg="direct_controller_teleop_viking3" name="mast" type="mast.py" output="screen"></node>
    <node pkg="direct_controller_teleop_viking3" name="digger" type="digger.py" output="screen"></node>
    <node pkg="direct_controller_teleop_viking3" name="manipulator" type="manipulator.py" output="screen"></node>
    <node pkg="direct_controller_teleop_viking3" name="drill" type="drill.py" output="screen"></node>
</launch>
